# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.zip
*.svg
*.out
*.app

# models
Networks/Sopron/*
Networks/Sopron_2021/*
Networks/BIWS/*
Networks/DHI/*
Networks/Galambos/*
Networks/Sopron_sigma_approx_opt/*
Networks/Sopron_sigma_opt/*
Networks/virtRome.inp

# folders
Archive/*

# other files
*.xlsx
*.res
*.pdf
*.gif
*.out
*.fig
*.spr
*.txt

# pics
*.png
*.svg
*.eps

# unsynced projects Weber
ProjectsHuzsvar/*
ProjectsHundzsa/*
ProjectsWeber/
ProjectsWeber/*/*
*/Network Data/*
Documentation/ClassHiearchy.svg
